# 2-teleport/terraform.tfvars.example

export TF_VAR_proxy_address="teleportdemo.com"
export TF_VAR_domain_name="teleportdemo.com"
export TF_VAR_user="you@example.com"
export TF_VAR_teleport_version="18.6.4"
export TF_VAR_region="us-east-2"
export TF_VAR_env="prod"
export TF_VAR_team="platform"
